.statistics {
	width: 600px;
	height: 300px;
	border-radius: 12px;
	border: solid 1px;
	background-color: #F6F1E9;
	padding: 25px;

	&__header {
		margin-bottom: 10px;
	}

	&__title {
		font-family: Montserrat;
		font-size: 24px;
		font-weight: 500;
		line-height: 29.26px;
		text-align: left;
		margin: 0;
	}

	&__content {
		height: 300px;
		margin-top: -40px;
	}
}