.food-card {
	width: 165px;
	height: max-content;
	border-radius: 12px;
	border: solid 1px;
	background-color: #F9F9F980;

	&__name {
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 500;
		line-height: 20.8px;
		letter-spacing: 0.03em;
		text-align: center;
	}

	&__content {
		padding: 0 10px 10px 10px;
	}

	&__close-button {
		width: 100%;
		text-align: end;
	}
}