.new-food-card {
	width: 135px;
	border-radius: 12px;
	border: solid 1px;
	background-color: #F9F9F980;

	&__name {
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 500;
		line-height: 20.8px;
		letter-spacing: 0.03em;
		text-align: center;
	}

	&__content {
		padding: 10px;
	}
}