.register {
	display: flex;
	justify-content: center;
	height: 100vh;
	align-items: center;

	&__form {
		width: 40vw;
		padding: 20px 40px;
		background-color: #F6F1E9;
		border-radius: 24px;
		border: solid 1px;
	}

	&__title {
		width: 100%;
		margin: 0;
		font-family: Montserrat;
		font-size: 32px;
		font-weight: 500;
		line-height: 41.6px;
		letter-spacing: 3px;
		text-align: center;
	}
}